        .Titulo {
            background-color: lawngreen;
            max-width: 600px;
            margin: 0 auto;
            padding: 50px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: solid red 10px;
            position: relative;
            top: 20px;
            left: 300px;
        }
        
        .foto {
            background-color: lawngreen;
            max-width: 600px;
            margin: 0 auto;
            padding: 50px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: solid red 10px;
            position: fixed;
            position: fixed;
            bottom: 0;
            right: 0;
            width: 200px;
        }