body {
    background: url(img/logoH.jpg)
}

h1 {
    color: rgb(21, 73, 226);
}

img {
    width: 400px;
}

#thirDiv {
    width: auto;
    height: auto;
    background-color: rgba(221, 46, 46, 0.726);
    padding: 50px;
    border: 1px solid rgb(5, 0, 0);
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

div {
    text-align: center;
}

.divClass {
    background-color: #a7888188;
}

.divClass2 {
    background-color: #88525288;
}